.parent {
  -fx-background-color: teal;
  -fx-animated: true;
  -fx-font-size: 100%;
}
.button {
  -fx-border-color: #28ffbc;
  -fx-text-fill: #28d0bc;
}
/*.button:hover {*/
/*  -fx-background-color: #0fab98;*/
/*}*/
/*.text-field {*/
/*  -fx-background-color: aqua;*/
/*  -fx-padding: 10 15;*/
/*}*/