.button {
  -fx-background-color: none;
  -fx-text-fill: #FF0072;
  -fx-border-color: #FF0072;
  -fx-border-width: 2px;
  -fx-border-radius: 2px;
  -fx-font-size: 14px;
  -fx-padding: 10px 16px;
  -fx-pref-width: 220px;

}
.button:hover {
  -fx-background-color: #FF0072;
  -fx-text-fill: #fcfcfc;
}
.table {
  -fx-text-fill: #fcfcfc;}
.toolbar {
  -fx-padding: 20px 40px;
}
.row {
  -fx-padding: 15px 40px;
}